@use"../function/_mixin.scss" as *;

.hamburger-menu{
    position: relative;
    z-index: 2;
    width: px-to-rem(60px);
    height: px-to-rem(60px);
    background-color: var(--main-color);
}

.hamburger-menu__line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: px-to-rem(28px);
    height: px-to-rem(2px);
    background-color: var(--base-color); 
    transition: .3s;
 }

 .hamburger-menu__line:nth-child(1){
    top: calc(50% - 8px);
 }
 .hamburger-menu__line:nth-child(3){
    top: calc(50% + 8px);
 }

//  animation
 .hamburger-menu.is-active > .hamburger-menu__line:nth-child(1){
   top: 50%;
   transform: translate(-50%, -50%) rotate(-45deg);
 }
 .hamburger-menu.is-active > .hamburger-menu__line:nth-child(2){
   opacity: 0;
 }
 .hamburger-menu.is-active > .hamburger-menu__line:nth-child(3){
   top: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
 }