<section class="message">
   <div class="container">
   <div class="message__title-body">
    <h3 class="message__title">
        「仕事」をきっかけに <br>
        人生の新しいスタートを！
    </h3>
    <span class="message__subtitle message__subtitle-body">大事なお仕事探しを応援させてください</span>
   </div>
   <!-- ceo -->
    <div class="message__ceo">
        <div class="message__ceo-body">
            <div class="message__ceo-wrapper">
                <figure class="message__ceo-image">
                    <img width="100" height="100" src="../img/ceo.png" alt="眼鏡をかけた爽やかな男性">
                </figure>
                <div class="message__ceo-text-body">
                    <p class="message__ceo-text">
                        はじめまして。代表取締役社長のショーン・デイビット・ジュニアです。
                        私はそこそこ幸せです。それは仕事が楽しいからです。もちろん仕事イコール人生ではありません。
                        でも仕事は人生の大事な基盤のように思っています。
                         株式会社STARTは、みなさんが仕事をきっかけに理想の人生を実現する手助けをしています。
                         幸せにつながるお仕事紹介サービス<a href="#" class="message__ceo-text-link">『スタート』</a>や、共通の目標を目指す仲間が
                         見つかる人材紹介SNS<a href="#" class="message__ceo-text-link">『ゴール』</a>を運営しています。
                         また、Webデザインの基礎スキルを身につけられるスクール<a href="#" class="message__ceo-text-link">『Webの学校』</a>も随時開講しています。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ofece -->
     <div class="message__office">
        <figure class="message__office-image">
            <img width="1110" height="400" src="../img/office.jpg" alt="会議室の風景。白い長方形のテーブルと6つの赤い椅子、壁のホワイトボードが特徴的なシンプルでモダンなデザインの会議室。">
        </figure>
     </div>
   </div>

</section>