<section class="news">
    <div class="container">
       <div class="news__wrapper">
        <h3 class="section-title news__title">ニュース</h3>
        <%- include('../parts/_topic.ejs') %>
       </div>
     </div>
</section>