<header class="header">
    <div class="header__body">
        <div class="header__wrapper">
            <h1 class="header__logo">
                <a href="#">
                    <img width="167" height="33" src="../img/logo.png" alt="START">
                </a>
            </h1>
            <!-- nav -->
            <nav class="nav" id="is-nav" aria-hidden="true">
                <ul class="nav__list">
                    <% navData.forEach(item=>{ %>
                     <li class="nav__item"><a class="nav__link" href="<%= item.link %>"><%= item.title %></a></li>
                   <% }) %>
                </ul>
            </nav>
            <!-- hamburger-menu -->
             <button type="button"
                     class="hamburger-menu sp-only"
                     id="hamburger-menu"
                     aria-controls="is-nav"
                     aria-hidden="false"
                     aria-expanded="false">
               <span class="hamburger-menu__line"></span>        
               <span class="hamburger-menu__line"></span>        
               <span class="hamburger-menu__line"></span>        
            </button>
        </div>
    </div>
    
</header>