@use"../function/_mixin.scss" as *;

.mv-bg{
  background-image: url(../img/mv.jpg);
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: px-clamp(460,600,375,2000);
}

.mv{
  display: flex;
  justify-content: center;
  align-items: center;
  &__title-body{
    font-family: "Roboto", sans-serif;
  }
  &__title{
    font-size: px-clamp(80,160,375,2000);
    font-weight: bold;
    color: var(--base-color);
    text-align: center;
  }
  &__subtitle{
    display: block;
    font-size: px-clamp(20,24,375,2000);
    font-weight: bold;
    letter-spacing: .1em;
    color: var(--base-color);
    text-align: center;
  }
}